:host {
  flex: 1;
}

.form {
  margin-right: 10px;

  .header-container {
    display: flex;
    align-items: center;

    .header {
      margin: 0 10px 0 0;
    }
  }

  .form-field {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .delete-field-btn {
      align-self: center;
    }
  }
}
